table {
    border-collapse: collapse;
    width: 90%;
    max-width: 100%;
    margin: 1rem auto;
    font-family: sans-serif;
    border-style: ridge;
  }
  
  th, td {
    padding: 12px;
    border-bottom: 1px solid #ccc;
  }
  
  th {

  }
  