.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.container img {
  position: absolute;
  top: 15vh; 
  left: 50%;
  transform: translateX(-47%); 
  padding: 5px; 
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
  width: 35%;
}

.loginForm {
  display: flex;
  flex-direction: column;
  gap: 18px;
  padding: 35px;
  padding-top: 13vh;
  padding-bottom:10vh;

  background-image: url("../lgbg3.png");
  background-size: cover;
  border-radius: 8px;
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.4);
  width: 60%;
  text-align: center;
}


