.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.container img {
  position: absolute;
  top: 15vh; 
  left: 50%;
  transform: translateX(-47%); 
  padding: 5px; 
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
  width: 35%;
}

.altLogin{
  font-weight: bold;
  color: white;
  text-shadow: 1px 1px rgb(0, 0, 0);
}

.altLogin a{
  color: green;
  text-decoration: underline;

}

.loginForm {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 45px;
  padding-top: 10vh;

  padding-bottom:6vh;
  background-image: url("../images/searcher.png");
  background-size: contain;
  border-radius: 8px;
  box-shadow: 0 15px 20px rgba(30, 30, 30, 0.4);
  width: 45%;
  text-align: center;
}

@media (max-width: 800px) {
  .container img {
    position: absolute;
    top: 30%; 
    left: 50%;
    transform: translateX(-47%); 
    padding: 5px; 
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
    width: 70%;
  }

  .loginForm {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 45px;
    padding-top: 10vh;
  
    padding-bottom:6vh;
    background-image: url("../images/searcher.png");
    background-size: contain;
    border-radius: 8px;
    box-shadow: 0 15px 20px rgba(30, 30, 30, 0.4);
    width: 65%;
    text-align: center;
  }
}
  