.tableBody {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.table {
  height: 60vh;
  background-color: white;
  width: 63%;
  margin-right: 2vw;
  margin-left: 2vw;
  overflow: scroll;
}

th {
  color: whitesmoke;
}

.notes {
  height: 60vh;
  background-color: white;
  margin-right: 2vw;

  width: 17.5%;
}

.stats {
  height: 60vh;
  background-color: white;
  margin-left: 2vw;

  width: 17.5%;
}

.stats h2 {
  margin: 1em;
}

.stats h3 {
  margin: 1em;
}

.silver {
  color: silver;
}

.bronze {
  color: #cd7f32;
}

.gold {
  color: gold;
}

#noteField {
  position: relative;
  width: 97%;
  height: 90%;
  resize: none;
}

.saveButton {
  width: 50%;
  margin-left: 25%;
}

.line {
  display: inline-block;
  margin-left: 10px;
}
