.tableBody {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.table {
  height: 60vh;
  width: 62%;
  margin-right: 2vw;
  margin-left: 2vw;
  margin-top: -1vh;
}

thead {
  font-size: 20px;
  color: green;
  text-shadow: 3px 3px black;
  font-weight: bold;
}

.apps {
  background-image: url("../images/tbbg.png");
  box-shadow: 9px 9px;
  border-radius: 3px;
}

table tbody tr {
  background-position: center top;
  font-size: 18px;
  color: white;
  border-radius: 2px;
}

tr td {
  width: 15%;
  outline: thin solid rgba(0, 0, 0, 0.6);
  text-align: center;
}

td {
  background-color: rgba(0, 0, 0, 0);
}

.notes {
  position: relative;
  height: 70vh;
  width: 25%;
  margin-left: 1vw;

  box-sizing: border-box;
}

.notes textarea {
  background-color: rgba(0, 0, 0, 0);
  background-image: url("../images/chalk2.png");
  margin-top: 10px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 90%;

  border: none;
  color: white;
  font-weight: bold;
  font-size: 18px;
  resize: none;
  outline: none;
  padding: 50px;
  box-sizing: border-box;
  overflow-x: hidden;
}

.notes .stats {
  background-color: rgba(0, 0, 0, 0);
  background-image: url("../images/chalk2.png");
  margin-top: 10px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;

  border: none;
  color: white;
  font-weight: bold;
  font-size: 18px;
  resize: none;
  outline: none;
  padding-top: 15px;
  padding-left: 50px;
  padding-right: 50px;


  box-sizing: border-box;
  overflow-x: hidden;
}

.stats {
  height: 62vh;
  width: 19%;
}



.stats h2 {
  font-size: 17px;
  color: rgb(182, 92, 182);
  text-shadow: 2px 2px black;
  display: flex;
  flex-direction: column;
}

.stats h2  {
  text-decoration: none !important;
  text-shadow: 2px 2px rgb(30, 96, 2);
  font-size: 25px;
  text-shadow: 3px 3px black;
  text-align: center;
  padding: 10px;
  border-bottom: 1px solid white;
  color: rgb(255, 255, 255);
}

.underline {
  text-decoration: underline;
}

.updateBtn {
  width: 33%;
  margin-left: 10px;
  margin-right: 10px;
}

.stats h3 {
  margin: 1em;
  font-size: 17px;
}

.kCount {
  color: rgb(220, 100, 190);
  text-shadow: 2px 2px black;
}

.silver {
  color: silver;
  text-shadow: 2px 2px black;
}

.bronze {
  color: #cd7f32;
  text-shadow: 2px 2px black;
}

.gold {
  color: gold;
  text-shadow: 2px 2px black;
}

#noteField {
  position: relative;
  width: 97%;
  height: 90%;
  resize: none;
}

.saveButton {
  width: 50%;
  margin-left: 25%;
}

.line {
  display: inline-block;
  margin-left: 10px;
}

.line input,
select {
  margin-left: 10px;
}

.modalDiv {
  width: 50%;
  margin: auto;
  background-image: url("../images/searcher.png");
  margin-top: 10%;
  border-radius: 1em;
  padding: 2em;
}

.line {
  font-size: 17px;
}

select {
  background-color: #d2b48c;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 2px 2px;
}

input {
  background-color: #d2b48c;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 2px 2px;
}

button {
  background-color: #3b7830;
  color: whitesmoke;
  font-size: bold;
  padding: 8px;
  border-radius: 5px;
  box-shadow: 2px 2px black;
  width: 10vw;
}

.sorter {
  background-image: url("../images/searcher.png");
  padding: 20px;
  border-radius: 5px;
  font-size: 18px;
  box-shadow: 9px 9px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.koalas p {
  color: white;
}

.koalaSprite {
  position: absolute;
  width: 8em;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-image: url("../images/ground.png");

  text-align: center;
  height: 14vh;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

.mdal {
  display: flex;
  flex-direction: column;
}

.appTable {
  height: 38vh;
  overflow: scroll;
  box-shadow: 9px 9px;

}

.statusSelect {
  max-width: 46%;
}

.koalaDesPic {
  width: 10vw;
}

::-webkit-scrollbar {
  display: none;
}

.noApps {
  width: 100%;
  background-image: url("../images/searcher.png");
  filter: brightness(0.5);
  color: white;
  font-size: 30px;
  font-weight: bold;
  height: 45vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.modalHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: bold;
  margin-bottom: 10px;
}

.closeModalBtn {
  background-color: rgb(225, 71, 71);
  width: 2vw;
}

.newKoala {
  text-align: center;
  background-color: tan;
  color: black;
  padding: 10px;
  text-shadow: 2px 2px white;
  font-weight: bold;
  font-size: 15px;
}

.kDesc {
  display: flex;
  flex-direction: row;
  text-shadow: none;
  font-weight: normal;

  width: 100%;
  justify-content: center;
  align-content: center;
}

.kDesc p {
  width: 89%;
  font-weight: bold;
}

.centerr {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.statNotes{
  background-color: rgba(0, 0, 0, 0.5);
  padding-top: 10px;

  padding-bottom: 10px;
  border-radius: 5px;
}

.loginBtn{
  background-color: green;
  width: 100%;
  border: none;
  box-shadow: 4px 4px black;
}

.QuestTitle{
  text-shadow: 3px 3px black;
  color: green;
  margin-bottom: -10px;
}

.statNotes.over{
  max-height: 5vh;
  overflow-y: scroll;
}